@use "./../Helpers/fonts" as *;
@use "./../Helpers/colors" as *;
@use "./../Helpers/mixins" as *;

.about {
  padding: 5rem 0;
  background-color: #f2f3f7;
  &__info {
    @include fontSizeWeightHeightFamily(1.6, 400, 3.2, $mulish-font);
    color: #333;

    &--head4 {
      @include fontSizeWeightHeightFamily(2, 600, 2.8, $sec-font);
    }
  }

  &__details {
    @include fontSizeWeightHeightFamily(1.6, 400, 3.2, $mulish-font);
    color: #333;

    &--study {
      margin-right: 3.1rem !important;
    }

    &--email {
      margin-right: 3.35rem;
    }
  }

  &__age {
    margin-right: 5rem;
  }

  &__degree {
    margin-right: 2.2rem;
  }

  &__phone {
    margin-right: 3.2rem;
  }

  i {
    color: $main-color;
  }

  &__fig-frame {
    position: relative;
    width: 85%;
    img {
      position: relative;
      z-index: 3;
      // transition-delay: 0.1s;
      transition-duration: 0.3s;
    }
  }

  &__fig-frame::before {
    border: 1rem solid black;
    position: absolute;
    content: "";
    top: 2rem;
    right: -2rem;
    width: 100%;
    height: 100%;
  }

  &__summary {
    hyphens: auto;
  }

  &__icons {
    margin-top: 6rem;
    h2 {
      @include fontSizeWeightHeightFamily(2rem, 600, 3.2, $main-font);
      letter-spacing: 3px;
    }
    i {
      font-size: 2.8rem;
      margin-right: 1.7rem;
      color: black;
      &:hover {
        transform: rotateZ(25deg);
      }
    }
    &--linkedin {
      margin-left: 1.2rem;
      color: #0b67c3 !important;
      &:hover {
        transform: rotateZ(-15deg);
      }
    }
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .about {
    padding: 7rem 0;
    background-color: #f2f3f7;

    &__info {
      @include fontSizeWeightHeightFamily(1.6, 400, 3.2, $mulish-font);
      color: #333;

      &--head4 {
        @include fontSizeWeightHeightFamily(2, 600, 2.8, $sec-font);
      }
    }

    &__details {
      @include fontSizeWeightHeightFamily(1.6, 400, 3.2, $mulish-font);
      color: #333;

      &--study {
        margin-right: 3.1rem !important;
      }

      &--email {
        margin-right: 3.35rem;
      }
    }

    &__age {
      margin-right: 5rem;
    }

    &__degree {
      margin-right: 2.2rem;
    }

    &__phone {
      margin-right: 3.2rem;
    }

    i {
      color: $main-color;
    }

    &__fig-frame {
      position: relative;
      width: 60%;
      margin: 0 auto 5rem auto;
    }

    &__fig-frame::before {
      border: 1rem solid black;
      position: absolute;
      content: "";
      top: 2rem;
      right: -2rem;
      width: 100%;
      height: 100%;
    }

    &__summary {
      hyphens: auto;
    }

    &__icons {
      margin-top: 6rem;
      h2 {
        @include fontSizeWeightHeightFamily(2rem, 600, 3.2, $main-font);
        letter-spacing: 3px;
      }
      i {
        font-size: 2.8rem;
        margin-right: 1.7rem;
        color: black;
        &:hover {
          transform: rotateZ(25deg);
        }
      }
      &--linkedin {
        margin-left: 1.2rem;
        color: #0b67c3 !important;
        &:hover {
          transform: rotateZ(-15deg);
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .about {
    padding: 7rem 0;
    background-color: #f2f3f7;

    &__info {
      @include fontSizeWeightHeightFamily(1.6, 400, 3.2, $mulish-font);
      color: #333;

      &--head4 {
        @include fontSizeWeightHeightFamily(2, 600, 2.8, $sec-font);
      }
    }

    &__details {
      @include fontSizeWeightHeightFamily(1.6, 400, 3.2, $mulish-font);
      color: #333;

      &--study {
        margin-right: 3.1rem !important;
      }

      &--email {
        margin-right: 3.35rem;
      }
    }

    &__age {
      margin-right: 5rem;
    }

    &__degree {
      margin-right: 2.2rem;
    }

    &__phone {
      margin-right: 3.2rem;
    }

    i {
      color: $main-color;
    }

    &__fig-frame {
      position: relative;
      width: 60%;
      margin: 0 auto 4rem auto;
      img {
        position: relative;
        z-index: 3;
      }
    }

    &__fig-frame::before {
      border: 1rem solid black;
      position: absolute;
      content: "";
      top: 2rem;
      right: -2rem;
      width: 100%;
      height: 100%;
    }

    &__summary {
      hyphens: auto;
    }
    &__icons {
      margin-top: 6rem;
      h2 {
        @include fontSizeWeightHeightFamily(2rem, 600, 3.2, $main-font);
        letter-spacing: 3px;
      }
      i {
        font-size: 2.8rem;
        margin-right: 1.7rem;
        color: black;
        &:hover {
          transform: rotateZ(25deg);
        }
      }
      &--linkedin {
        margin-left: 1.2rem;
        color: #0b67c3 !important;
        &:hover {
          transform: rotateZ(-15deg);
        }
      }
    }
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .about {
    padding: 7rem 0;
    background-color: #f2f3f7;

    &__info {
      @include fontSizeWeightHeightFamily(1.6, 400, 3.2, $mulish-font);
      color: #333;

      &--head4 {
        @include fontSizeWeightHeightFamily(2, 600, 2.8, $sec-font);
      }
    }

    &__details {
      @include fontSizeWeightHeightFamily(1.6, 400, 3.2, $mulish-font);
      color: #333;

      &--study {
        margin-right: 3.1rem !important;
      }

      &--email {
        margin-right: 3.35rem;
      }
    }

    &__age {
      margin-right: 5rem;
    }

    &__degree {
      margin-right: 2.2rem;
    }

    &__phone {
      margin-right: 3.2rem;
    }

    i {
      color: $main-color;
    }

    &__fig-frame {
      position: relative;
      width: 85%;
      margin: auto;
    }

    &__fig-frame::before {
      border: 1rem solid black;
      position: absolute;
      content: "";
      top: 2rem;
      right: -2rem;
      width: 100%;
      height: 100%;
    }

    &__summary {
      hyphens: auto;
    }
    &__icons {
      margin-top: 6rem;
      h2 {
        @include fontSizeWeightHeightFamily(2rem, 600, 3.2, $main-font);
        letter-spacing: 3px;
      }
      i {
        font-size: 2.8rem;
        margin-right: 1.7rem;
        color: black;
        &:hover {
          transform: rotateZ(25deg);
        }
      }
      &--linkedin {
        margin-left: 1.2rem;
        color: #0b67c3 !important;
        &:hover {
          transform: rotateZ(-15deg);
        }
      }
    }
  }
}
