@use "./../Helpers/colors" as *;
@use "./../Helpers/mixins" as *;
@use "./../Helpers/fonts" as *;

nav {
  transition-duration: 0.5s;
  a {
    color: $sec-color !important;
    @include fontSizeWeightHeightFamily(1.6, 600, 3.2, $sec-font);
    // color: $sec-color !important;
    &:hover {
      color: $main-color !important;
      @include fontSizeWeightHeightFamily(1.6, 600, 3.2, $sec-font);
    }
  }

  #logo:hover {
    color: $main-color !important;
    @include fontSizeWeightHeightFamily(1.6, 700, 3.2, $sec-font);
  }

  li {
    margin-right: 1rem;
  }
  img {
    width: 500px;
  }
}
