@use "./../Helpers/fonts" as *;
@use "./../Helpers/classes" as *;
@use "./../Layout/_home.scss";
@use "./../Layout/nav";
@use "./../Layout/about";
@use "./../Layout/btns";
@use "./../Layout/resume";
@use "./../Layout/portfolio";
@use "./../Layout/contactUS";
@use "./../Layout/footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $main-font;
}

:root {
  font-size: 10px;
}
